/*
    Created on : 24-Sep-2019, 6:25:11 PM
    Author     : Vlad
*/
body{
    text-align:center;
    background-color: #ff9999;
    padding:10px;
}
h3{
    color: blue;
}
input[type="text"],input[type="tel"]{
    background-color: #fff;
    border: #fff thin solid;
    border-radius: 25px;
    width:350px;
    padding: 0.4rem;
}
ul {
  justify-content: center;
  display: flex;
}